<h1>Welcome to {{company.companyName}}.</h1>
<img src={{company.logoUrl}} width="200px" alt="logo"/>
<p>Thank you for the good job. Here are some instructions. Press below when ready to submit.</p>
<a href="/{{company.url}}/submission"><button>Submit Invoice</button></a>
<a href='/{{company.url}}/profile/approved'>Company Login</a>