<div class="hero fullscreen" style="height:90%;>
    <div class="hero-body u-center">
        <div class="w-95" style="position: relative">
            <div class="row level">
                <div class="col-6" style="padding: 2rem;">
                    <h3 class="headline-5">Welcome to </h3>
                    <h2>{{company.companyName}}</h2>
                    <p class="lead">Thanks for the good work. </p>
                    <div class="r">
                        <b>Please <div class="tag tag--link">Submit</div> your invoice below</b>
                    </div>
                    <div class="form-group">
                        <a href="/{{company.url}}/submission"><button class="btn-link">Submit Invoice</button></a>
                    </div>
                     <a href="/{{company.url}}/profile/approved"><small>Company Login</small></a>
                </div>
                <div class="divider divider--v"></div>
                <div class="col-6" style="padding: 2rem;">
                    <img  src="{{company.logoUrl}}" />
                </div>
            </div>
        </div>
    </div>
</div>