<div class="index-container">
    <div class="w-50">
        <h1>Forte</h1>
        <div class="selling-line">
            <h3>Because helping you pay is our <strong>Forte</strong></h3>
        </div>
        <a href="/sign-up"><button>Sign-up!</button></a>
    </div>
    <div class="w-50">
        <img src="https://www.yourmoney.com/wp-content/uploads/sites/3/2015/01/piggy-bank.jpg" alt="">
    </div>
</div>



