
<div class="welcome-div" style="width:fit-content;">
    <img src="/images/city.png" style="width:400px" alt="">
     <h1 style="line-height: 1.5;"class="headline-3">FORTE</h1>
    <p style="font-size: 16 px; font-family:'Times New Roman', Times, serif;"class="lead"><i>"Gettin' paid is my forte"</i></p>
     <div style="display: flex; justify-content:space-evenly">
         <button class="btn-small"><a id="sign-in-link" href="/sign-up">Company Sign-up</a> </button>
         
     </div>
     

</div>
           