{{!-- <div class="hero-body u-center">
                <div class="w-80">
                    <div class="row level">
                        <div class="col-6" style="padding: 2rem;">
                            <h1 style="color:aquamarine; line-height: 0.4;"class="headline-2">FORTE</h1>
                            <p style="font-family:'Times New Roman', Times, serif;"class="lead"><i>"Gettin' paid is my forte"</i></p>

                            

<br>
<br><br>
<br><br>
<br>
                            <div class="form-group">
                               
                                <button class="form-group-btn btn-normal" style="background-color:aquamarine">
                                    <a id="sign-in-link" href="/sign-up">Company Sign-Up</a>
                                </button>
                            </div>

                        </div>


                        <div class="col-6" style="padding: 2rem;">
                            <img class="rounded" width="300vw" src="/images/city.png">
                        </div>
                    </div>
                </div>
            </div> --}}
<div class="welcome-div" style="width:fit-content;">
    <img src="/images/city.png" alt="">
     <h1 style="line-height: 1.5;"class="headline-2">FORTE</h1>
     <div style="display: flex; justify-content:space-evenly">
         <button class="btn-small"><a id="sign-in-link" href="/sign-up">Company Sign-up</a> </button>
         
     </div>
     
    <p style="font-size: 16 px; font-family:'Times New Roman', Times, serif;"class="lead"><i>"Gettin' paid is my forte"</i></p>


</div>
           