<div class="hero-body u-center">
                <div class="w-90" style="position: relative">
                    <div class="row level">
                        <div class="col-6" style="padding: 2rem;">
                            <h1 style="color:aquamarine; line-height: 0.4;"class="headline-1">FORTE</h1>
                            <p style="font-family:'Times New Roman', Times, serif;"class="lead"><i>"Gettin' paid is my forte"</i></p>

                            


                            <div class="form-group">
                               
                                <button class="form-group-btn btn-normal" style="background-color:aquamarine">
                                    <a id="sign-in-link" href="/sign-up">Company Sign-Up</a>
                                </button>
                            </div>

                        </div>


                        <div class="col-6" style="padding: 2rem;">
                            <img width="300vw" src="/images/city.png">
                        </div>
                    </div>
                </div>
            </div>