In here companies will sign up

<form action="/sign-up" method="POST" enctype="multipart/form-data">
<h4>Main Details</h4>
<label for="companyName">Company Name:</label>
<input type="text" name="companyName" id="companyName" placeholder="Your Company Name"/>
<br>
<label for="adminEmail">Administrator Email:</label>
<input type="email" name="adminEmail" id="adminEmail" placeholder="you@yourcompany.com"/>
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" placeholder="Password"/>
<br>
<label for="url">forte.com/</label>
<input type="text" name="url" id="url" placeholder="yourcompany"/>
<br>
<label for="logoUrl">Company Logo</label>
<input type="file" name="logoUrl" id="logoUrl">
<br>
<h4>Address</h4>
<label for="street">Street Name:</label>
<input type="text" name="street" id="street" placeholder=""/>
<br>
<label for="number">Door Number:</label>
<input type="text" name="number" id="number" placeholder=""/>
<br>
<label for="city">City:</label>
<input type="text" name="city" id="city" placeholder=""/>
<br>
<h4>Fiscal Details</h4>
<label for="NIPC">NIPC</label>
<input type="number" name="nipc" id="nipc" placeholder="123456789"/>
<br>
<label for="NIPC">NIPC</label>
<input type="number" name="nipc" id="nipc" placeholder="123456789"/>
<br>
    <button type="submit">Submit</button>
</form>