<div class="dashboard-header">
    <h1>{{comp.companyName}}</h1>
    <div class="buttons-dashboard-header">
        <a href="/{{comp.url}}/settings"><button>Settings</button></a>
        <form action="/{{comp.url}}/sign-out" method="POST">
            <button>Logout</button>
        </form>    
    </div>
</div>