<table class="table.fixed-head">
  <tr>
    <th>Contractor</th>
    <th>Amount</th>
  </tr>
  {{#each invoices}}
  <tr>
    <td>{{contractorName}}</td>
    <td>{{amountDue}}</td>
    <td><button>Pay</button></td>
  </tr>
  {{/each}}
  
</table>
