<table class="table.fixed-head">
  <tr>
    <th>Contractor</th>
    <th>Amount</th>
  </tr>
  {{#each mockupData}}
  <tr>
    <td>{{contractor}}</td>
    <td>{{amount}}</td>
    <td><button>Pay</button></td>
  </tr>
  {{/each}}
  
</table>
