.payment-line {
  display:flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
}

body {
  background: linear-gradient(to bottom, #e2e2e2, #c9d6ff) no-repeat fixed;
}

/* #main-table {
  table-layout: fixed;
  width: 100%;
} */

/* th,td {
  width: 100px;
} */


.frame {
  background-color: #FFF;
  margin: 1.5em auto;
  min-height: 90vh;
  width: 90vw;
}

.inside {
  padding: 3em;
}

.table.fixed-head tbody {
  height:50vh;

}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-dashboard-header {
  display: flex;
  flex-direction: row;
}
.buttons-dashboard-header button{
  margin-left: 1em;
}

input:invalid {
  border-color: red;
}

.tile{
  margin-bottom: 1em;
}

.settings-header{
  display: flex; 
  flex-direction: row; 
  align-items:center; 
  justify-content:space-between;
}

.settings-body{
  margin-top: 1em;
  display: flex; 
  flex-direction: row; 
  align-items:flex-start; 
  justify-content:space-between; 
  width: 95%"
}

.settings-half{
  width: 50%;
  margin-left: 1em;
}

.user-half-title{
  margin-bottom: 1em;
}

.settings-half .btn-light{
  margin-top: 1em;
}

.settings-half:nth-of-type(2) .content{
  margin-top: 0.7em;
}

.index-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 90%;
  margin: auto;
  margin-top: 5em;
}

.index-container h1{
  margin-bottom: 0.6em;
}

.selling-line{
  width: 87%;
  margin-bottom: 1em;
}

.selling-line strong{
  color: #fab633;
}
.users {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.row-ID {
  width: 10%;
}
.row-name {
  width: 40%;
}
.row-job {
  width: 30%;
}
.row-email {
  width: 20%;
}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.users td,
.users th {
  text-align: left;
  padding: 5px 10px;
}

